# You can install additional packages not included in the template image by listing them here. Preinstalled stuff:
# https://gitlab.ldv.ei.tum.de/cellphaser/cp-containers/-/blob/master/cp-component-backend-template/

FlowCal
fcsparser
pandas
altair
vega_datasets
neptune-client
altair_viewer
altair_data_server
flake8
pytest
jinja2==2.11.3
sphinx
m2r
docutils
ipython
seaborn
numpy==1.23.3